.kpi-content {
    text-align: center;
    margin-top: 5%;
}

.list-disc {
    text-align: left;
}

.carousel-part {
    margin-top: 3%;
    margin-bottom: 5%;
    display: flex;
    width: 100%;
    align-items: center;
}
.carousel-part div {
    width: 100%;
}
.carousel-item {
    height: 100px;
    align-items: center;
    padding: 3% 2%;

}
.carousel-inner {
    padding: 0;
}
.fa-solid, .fas {
    font-weight: bold;
    color: #000;
    font-size: 2rem;
}
.kpi2-item-box {
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
    box-shadow: 10px 20px 15px silver;
    height: 350px;
    width: 80%;
    margin-left: auto;
    padding-top: 7%;
    padding-bottom: 7%;
    margin-right: auto;
    margin-bottom: 3%;
    align-items: center;
}
/* KPI ITERATION VS RECURSION */
.it-rec-images {
    width: 300px;
    height: auto;
    display: flex;
}

@media (max-width: 900px) {
    .kpi-content {
        margin-top: 20%;
    }

    /* KPI ITERATION VS RECURSION */
    .it-rec-images {
        display: block;
    }
}