.literature-list {
    text-align: left;
}

.literature-list li {
    margin: 3%;
    width: 97%;
}

.literature-link {
    color: #28a745;
}

.literature-link:hover {
    color: #28a745;
}

@media (max-width: 590px) {
    .literature-list li {
        max-width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}